@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap');
@import 'nullstyle';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'auth';

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--font-size-p2);
    color: var(--primary-color);
}

#root {
    height: 100%;
}

.app {
    height: 100vh;
    min-height: 100%;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
    height: calc(100vh - var(--header-height));
}

main {
    flex-grow: 1;
    padding: 15px;
    width: 100%;
}
