.registerWrapper {
    width: 100%;
    max-width: 320px;

    &.loading {
        animation: 1s infinite linear pulsation;
    }
}

@keyframes pulsation {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.logo {
    justify-content: center;
    margin-bottom: 24px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.registerBtn {
    align-self: end;
    border-radius: var(--radius-xs);
    width: 100%;
}

.signInBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-size-p3);
    color: var(--grey);
}
