:root {
    // Font
    --font-size-h1: 58px;
    --font-size-h2: 36px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-p1: 18px;
    --font-size-p2: 16px;
    --font-size-p3: 14px;
    --font-size-p4: 12px;

    // Sizes
    --header-height: 70px;
    --sidebar-width: 250px;
    --sidebar-width-collapsed: 100px;

    // Colors
    --white: #fefefe;
    --black: #000;
    --blue: #4f7faf;
    --red: #ff4d4d;
    --overlay-color: rgb(0 0 0 / 60%);

    // Radius
    --radius-xs: 5px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 15px;

    // z-index
    --modal-z-index: 3;
}
