.link {
    position: relative;
    display: block;
    padding-left: 50px;
    width: fit-content;
    transition: transform 0.1s ease-in-out;
}

.icon {
    position: absolute;
    left: 0;
    top: -6px;
    display: block;
    width: 30px;
    height: 30px;
    fill: var(--white);
}

.title {
    white-space: nowrap;
}

.collapsed {
    width: 30px;

    .title {
        opacity: 0;
        pointer-events: none;
    }
}

@media (any-hover: hover) {
    .link:hover {
        opacity: 1;
        transform: translateX(5px);
    }
}
