.button {
    margin: 0;
    border: 1px solid transparent;
    border-radius: var(--radius-s);
    padding: 8px 20px;
    transition: opacity 0.1s ease-in-out, border 0.1s ease-in-out, transform 0.1s ease-in-out;
    cursor: pointer;

    &:focus-visible {
        border: 1px solid var(--primary-color);
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        opacity: 0.2;
    }
}

.clear,
.clear_white {
    border: none;
    padding: 0;
    color: var(--primary-color);
    background-color: transparent;
}

.clear_white {
    color: var(--white);
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

.outlined_white {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
}

.primary {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}

.blue {
    color: var(--white);
    background-color: var(--blue);
}

.red {
    color: var(--white);
    background-color: var(--red);
}

.size_s {
    font-size: var(--font-size-s);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}

.size_2xl {
    font-size: var(--font-size-2xl);
}

.disabled {
    opacity: 0.2;
}

@media (any-hover: hover) {
    .button:hover {
        opacity: 0.7;
    }

    .disabled:hover {
        opacity: 0.2;
        cursor: not-allowed;
    }
}
