.sidebar {
    position: relative;
    flex-shrink: 0;
    padding: 20px 20px 20px 40px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: var(--bg-secondary-color);
    transition: width 0.2s ease-in-out;
}

.switchers {
    position: absolute;
    left: 50%;
    bottom: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translate(-50%) rotate(0);
    transition: transform 0.2s ease-in-out;
}

.switcher {
    transform: rotate(0);
    transition: transform 0.2s linear;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    
    .switchers {
        transform: translate(-44%) rotate(-90deg);
    }
    
    .switcher {
        transform: rotate(90deg);
    }
}