.navbar {
    height: 100%;
}

.navItem {
    padding: 12px 12px 12px 40px;
    height: 50px;
    transition: background-color 0.1s ease-in-out;
}

.navItem.active {
    background-color: var(--dark-5);
}
