.loginWrapper {
    width: 100%;
    max-width: 320px;

    &.loading {
        animation: 1s infinite linear pulsation;
    }
}

@keyframes pulsation {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.logo {
    justify-content: center;
    margin-bottom: 24px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginBtn {
    align-self: end;
    width: 100%;
}

.loginError {
    font-size: var(--font-size-p4);
    text-align: center;
    color: var(--red);
}
