.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.select {
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-xs);
    padding: 8px;
    font-size: var(--font-size-p3);
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;

    &:disabled {
        opacity: 1;
        cursor: not-allowed;
    }
}

.option {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}
