body[data-theme='dark'] {
    --bg-color: #202c37;
    --inverted-bg-color: #f4f4f4;
    --bg-secondary-color: #2b3945;
    --inverted-bg-secondary-color: #4f7faf;
    --primary-color: #fefefe;
    --secondary-color: #eaeaea;
    --inverted-primary-color: #111517;
}