.link {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    transition: transform 0.1s ease-in-out;
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.title {
    white-space: nowrap;
    transition: opacity 0.1s ease-in-out;
}

.collapsed {
    .title {
        width: 0;
        opacity: 0;
        pointer-events: none;
    }
}

@media (any-hover: hover) {
    .link:hover {
        opacity: 1;
        transform: translateX(5px);
    }
}
