.flex {
    display: flex;
}

.inlineFlex {
    display: inline-flex;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.alignStretch {
    align-items: stretch;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap12 {
    gap: 12px;
}

.gap16 {
    gap: 16px;
}

.gap20 {
    gap: 20px;
}

.gap24 {
    gap: 24px;
}

.gap28 {
    gap: 28px;
}

.gap32 {
    gap: 32px;
}

.max {
    width: 100%;
}
