.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: var(--header-height);
    color: var(--inverted-primary-color);
    background-color: var(--bg-secondary-color);
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.authButtons {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--white);

    p {
        font-size: 12px;
    }
}
