.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-secondary-color);
    color: var(--inverted-primary-color);
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}