.header {
    padding: 0 40px;
    width: 100%;
    height: var(--header-height);
    color: var(--inverted-primary-color);
    background-color: var(--bg-secondary-color);
}

.authButtons {
    color: var(--white);

    p {
        font-size: 12px;
    }
}
