.fieldBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    dt {
        min-width: 85px;
        max-width: 85px;
    }

    dd {
        width: 100%;
    }
}

.errorText {
    font-size: var(--font-size-xl);
    text-align: center;
}
