.card {
    overflow: hidden;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-xs);
    padding: 16px;
}

.profileLink {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}
