.cardHeader {
    position: relative;
}

.avatar {
    border: 1px solid var(--blue);
}

.userIcon {
    width: var(--font-size-p2);
    height: var(--font-size-p2);
}

.buttons {
    position: absolute;
    right: 0;
    top: 0;
}
