.appLink {
    transition: opacity 0.2s ease-in-out;
}

.white {
    color: var(--white);
}

.primary {
    color: var(--primary-color);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_xl {
    font-size: var(--font-size-xl);
}

@media (any-hover: hover) {
    .appLink:hover {
        opacity: 0.6;
    }
}
