.appLink {
    transition: opacity 0.2s ease-in-out;
}

.white {
    color: var(--white);
}

.primary {
    color: var(--primary-color);
}

.size_h4 {
    font-size: var(--font-size-h4);
}

.size_p2 {
    font-size: var(--font-size-p2);
}

@media (any-hover: hover) {
    .appLink:hover {
        opacity: 0.6;
    }
}
