.appLink {
    transition: opacity 0.2s ease-in-out;
    
    @media (any-hover: hover) {
        &:hover {
            opacity: 0.6;
        }
    }
}

.white {
    color: var(--white);
}

.primary {
    color: var(--primary-color);
}

.size_h3 {
    font-size: var(--font-size-h3);
}

